{
  "env": {
    "node": true,
      "browser": 1
  },
    "globals": {
    },
    "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": false,
        "impliedStrict":true
      }
    },
    "rules": {
      "eqeqeq": 1,
      "indent": ["error", 2],
      "curly" : 2,
      "camelcase": ["error", {"properties": "never"}],
      "no-var": "error",
      "quotes": [
        "error", 
        "single", 
      {
        "allowTemplateLiterals": true,
        "avoidEscape": true
      }
      ],
      "semi": [
        "error", 
        "never"
      ],
      "comma-style": ["error", "last"],
      "no-unexpected-multiline": "error"
    },
    "plugins": [
    ]
}
